useDynLib(BioCro,
          c4photo_sym = c4photo,
          c3photo_sym = c3photo,
          CanA_sym = CanA,
          c3CanA_sym = c3CanA,
          R_Gro,
          R_Gro_ode)

import(stats, lattice)

export(Gro)
export(Gro_ode)
export(Gro_deriv)
export(partial_gro)

exportPattern("Parms$")

export(c3photo)

export(c4photo)

export(CanA)

export(idbp)

export(SoilType, showSoilType)

export(valid_dbp)

export(CheckLeapYear)

export(read_parameters)
export(get_growing_season_climate)

