<?xml version="1.0"?>
<config>
 <run>
  <start.date>2013-04-20 0:00:00</start.date>
  <end.date>2013-12-30 23:00:00</end.date>
  <met.path>/data/rundir/met</met.path>
  <soil.file></soil.file>
 </run>
 <location>
  <latitude>33.448</latitude>
  <longitude>-112.074</longitude>
 </location>
 <simulationPeriod>
  <dateofplanting>2013/04/20</dateofplanting>
  <dateofharvest>2013/12/30</dateofharvest>
 </simulationPeriod>
 <pft>
  <type>
   <photosynthesis>C3</photosynthesis>
   <genus>Salix</genus>
   <name>salix</name>
  </type>
  <canopyControl>
   <Sp>1.4259071767974</Sp>
   <SpD>0</SpD>
   <nlayers>10</nlayers>
   <kd>0.365686408284111</kd>
   <chi.l>2.94075603865983</chi.l>
   <mResp>0.02, 0.03</mResp>
   <heightFactor>3</heightFactor>
   <GrowthRespFraction>0.349910226244506</GrowthRespFraction>
  </canopyControl>
  <photoParms>
   <vmax>77.0006021077063</vmax>
   <jmax>154.824796887989</jmax>
   <Rd>1.78407682308022</Rd>
   <b0>0.0452634202608579</b0>
   <b1>7.04397264880013</b1>
   <Catm>400</Catm>
   <O2>210</O2>
  </photoParms>
  <seneControl>
   <senLeaf>1800</senLeaf>
   <senStem>5500</senStem>
   <senRoot>5500</senRoot>
   <senRhizome>5500</senRhizome>
   <Tfrosthigh>-5.0</Tfrosthigh>
   <Tfrostlow>-10.0</Tfrostlow>
   <leafdeathrate>1.5</leafdeathrate>
  </seneControl>
  <iPlantControl>
   <iRhizome>1.9</iRhizome>
   <iStem>10.9</iStem>
   <iLeaf>0</iLeaf>
   <iRoot>1</iRoot>
   <ifrRhizome>0.01</ifrRhizome>
   <ifrStem>0.01</ifrStem>
   <ifrLeaf>0</ifrLeaf>
   <ifrRoot>0</ifrRoot>
  </iPlantControl>
  <soilControl>
   <iWatCont>0.2</iWatCont>
   <FieldC>0.182</FieldC>
   <WiltP>0.09</WiltP>
   <soilDepth>2</soilDepth>
   <soilType>6</soilType>
   <wsFun>1</wsFun>
   <scsf>1</scsf>
   <transpRes>5e+06</transpRes>
   <leafPotTh>-800</leafPotTh>
   <hydrDist>0</hydrDist>
   <rfl>0.2</rfl>
   <rsec>0.2</rsec>
   <rsdf>0.44</rsdf>
   <phi1>0.01</phi1>
   <phi2>10</phi2>
   <soilLayers>1</soilLayers>
  </soilControl>
  <phenoParms>
   <tp1>400</tp1>
   <tp2>1000</tp2>
   <tp3>1500</tp3>
   <tp4>3200</tp4>
   <tp5>3939</tp5>
   <tp6>7000</tp6>
   <kStem1>0.40</kStem1>
   <kLeaf1>0.50</kLeaf1>
   <kRoot1>0.10</kRoot1>
   <kRhizome1>-8e-04</kRhizome1>
   <kStem2>0.35</kStem2>
   <kLeaf2>0.50</kLeaf2>
   <kRoot2>0.15</kRoot2>
   <kRhizome2>-8e-04</kRhizome2>
   <kStem3>0.5</kStem3>
   <kLeaf3>0.3</kLeaf3>
   <kRoot3>0.1</kRoot3>
   <kRhizome3>0.1</kRhizome3>
   <kStem4>0.55</kStem4>
   <kLeaf4>0.15</kLeaf4>
   <kRoot4>0.15</kRoot4>
   <kRhizome4>0.15</kRhizome4>
   <kStem5>0.7</kStem5>
   <kLeaf5>1e-05</kLeaf5>
   <kRoot5>0.15</kRoot5>
   <kRhizome5>0.15</kRhizome5>
   <kStem6>0.7</kStem6>
   <kLeaf6>1e-06</kLeaf6>
   <kRoot6>0.15</kRoot6>
   <kRhizome6>0.15</kRhizome6>
   <kGrain6>0</kGrain6>
   <Tbase>0</Tbase>
  </phenoParms>
  <location>
   <latitude>42.79</latitude>
   <longitude>-76.125</longitude>
  </location>
 </pft>
</config>